version: "3"
services:
  postgres:
    build: ./services/postgres
    restart: unless-stopped
    environment:
      - POSTGRES_DB=${POSTGRES_DB_NAME}
      - POSTGRES_USER=${POSTGRES_USERNAME}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
    ports:
      - '${POSTGRES_PORT}:${POSTGRES_PORT}'
    volumes: 
      - ./services/postgres/data:/var/lib/postgresql/data:rw
    healthcheck:
      test: ["CMD", "pg_isready", "-q", "-d", "${POSTGRES_DB_NAME}" , "-U", "${POSTGRES_USERNAME}"]
      interval: 10s
      timeout: 10s
      retries: 2
      start_period: 15s 

  payment:
    build: ./services/payment
    depends_on:
      postgres:
        condition: "service_healthy"
    environment:
      DB_HOST: postgres
      DB_PORT: ${POSTGRES_PORT}
      DB_USER: ${POSTGRES_USERNAME}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_NAME: ${POSTGRES_DB_NAME}
      PORT: ${PAYMENT_PORT}
    ports:
      - ${PAYMENT_PORT}:${PAYMENT_PORT}
    
  store:
    build: ./services/store
    depends_on:
      postgres:
        condition: "service_healthy"
    environment:
      DB_HOST: postgres
      DB_PORT: ${POSTGRES_PORT}
      DB_USER: ${POSTGRES_USERNAME}
      DB_PASSWORD: ${POSTGRES_PASSWORD}
      DB_NAME: ${POSTGRES_DB_NAME}
    ports:
      - ${STORE_PORT}:8080

  main: 
    build: ./services/main
    ports: 
      - "3001:3001"
    depends_on:
      - postgres